<?xml version="1.0" encoding="UTF-8"?>
<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in
 |                 ${maven.home}/conf/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   | Default: ${user.home}/.m2/repository
  <localRepository>/path/to/local/repo</localRepository>
  -->

  <localRepository>${user.home}/.m2/repository</localRepository>

	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.jenkins-ci.tools</pluginGroup>
    <pluginGroup>org.jacoco</pluginGroup>
	</pluginGroups>

  <proxies>
  </proxies>

  <!-- servers
   | This is a list of authentication profiles, keyed by the server-id used within the system.
   | Authentication profiles can be used whenever maven must make a connection to a remote server.
     配置权限,使用默认用户-->
     <servers>
         <server>
             <id>nexus-releases</id>
             <username>${env.MAVEN_NEXUS_USERNAME}</username>
             <password>${env.MAVEN_NEXUS_PASSWORD}</password>
         </server>
         <server>
             <id>nexus-snapshots</id>
             <username>${env.MAVEN_NEXUS_USERNAME}</username>
             <password>${env.MAVEN_NEXUS_PASSWORD}</password>
         </server>
     </servers>

  <mirrors>
    <!-- mirror
     | Specifies a repository mirror site to use instead of a given repository. The repository that
     | this mirror serves has an ID that matches the mirrorOf element of this mirror. IDs are used
     | for inheritance and direct lookup purposes, and must be unique across the set of mirrors.
     |
    <mirror>
      <id>mirrorId</id>
      <mirrorOf>repositoryId</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://my.repository.com/repo/path</url>
    </mirror>.
     -->
	 <!--<mirror>-->
      <!--<id>nexus</id>-->
      <!--<mirrorOf>*</mirrorOf>-->
      <!--<url>http://${env.MAVEN_NEXUS_HOST}${env.MAVEN_NEXUS_PATH}/content/groups/vpclub/</url>-->
    <!--</mirror>-->
  </mirrors>
  <profiles>

<!-- <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sonar.jdbc.url>'jdbc:mysql://172.16.45.3:3306/sonar?useUnicode=true'</sonar.jdbc.url>
        <sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
        <sonar.jdbc.username>root</sonar.jdbc.username>
        <sonar.jdbc.password>@vpclubdev</sonar.jdbc.password>
        <sonar.host.url>http://172.16.45.3:9000</sonar.host.url>
      </properties>
    </profile> -->
	<profile>
		<id>general</id>
		<activation>
			<activeByDefault>false</activeByDefault>
			<jdk>1.8</jdk>
		</activation>
		<repositories>
		  <repository>
			<id>nexus-releases</id>
			<url>http://${env.MAVEN_NEXUS_HOST}${env.MAVEN_NEXUS_PATH}/content/repositories/releases/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
			  </snapshots>
			</repository>
		</repositories>

		  <pluginRepositories>
			<pluginRepository>
			  <id>nexus-snapshots</id>
			  <url>http://${env.MAVEN_NEXUS_HOST}${env.MAVEN_NEXUS_PATH}/content/repositories/snapshots/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
		   </snapshots>
		  </pluginRepository>
		</pluginRepositories>
	</profile>
  <profile>
    <id>jenkins</id>
    <activation>
      <activeByDefault>false</activeByDefault>
      <jdk>1.8</jdk>
    </activation>
    <repositories>
      <repository>
      <id>nexus-releases</id>
      <url>http://nexus.fabric8.172.16.5.60.nip.io/content/repositories/releases/</url>
        <releases>
        <enabled>true</enabled>
        </releases>
        <snapshots>
        <enabled>true</enabled>
        </snapshots>
      </repository>
    </repositories>
      <pluginRepositories>
      <pluginRepository>
        <id>nexus-snapshots</id>
        <url>http://nexus.fabric8.172.16.5.60.nip.io/content/repositories/snapshots/</url>
        <releases>
        <enabled>true</enabled>
        </releases>
        <snapshots>
        <enabled>true</enabled>
       </snapshots>
      </pluginRepository>
    </pluginRepositories>
  </profile>
  <profile>
		<id>public</id>
		<activation>
			<activeByDefault>false</activeByDefault>
			<jdk>1.8</jdk>
		</activation>
		<repositories>
		  <repository>
			<id>public-repository</id>
  			<url>http://${env.MAVEN_NEXUS_HOST}${env.MAVEN_NEXUS_PATH}/content/groups/public/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
			  </snapshots>
			</repository>
		</repositories>

		  <pluginRepositories>
			<pluginRepository>
			  <id>public-plugin</id>
			  <url>http://${env.MAVEN_NEXUS_HOST}${env.MAVEN_NEXUS_PATH}/content/groups/public/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			  <snapshots>
				<enabled>true</enabled>
		   </snapshots>
		  </pluginRepository>
		</pluginRepositories>
	</profile>
  </profiles>

  <!-- activeProfiles
   | List of profiles that are active for all builds.
   |
  <activeProfiles>
    <activeProfile>alwaysActiveProfile</activeProfile>
    <activeProfile>anotherAlwaysActiveProfile</activeProfile>
  </activeProfiles>
  -->
	<!--激活profile-->
	<activeProfiles>
		<activeProfile>general</activeProfile>
		<activeProfile>public</activeProfile>
    <!-- <activeProfile>sonar</activeProfile> -->
    <activeProfile>jenkins</activeProfile>
	</activeProfiles>
</settings>
